<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container-fluid ">
    <div>
        <h2>
            Add new user
        </h2>
    </div>
    <form th:acction="@{/api/v1/users/save}" method="POST" th:object="${user} "
          style="max-width: 500px; margin: 0 auto">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Account Name:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{useraccount}" class="form-control" required minlength="8"
                           maxlength="45"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">User Name:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{username}" class="form-control" required minlength="8"
                           maxlength="45"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8">
                    <input type="password" th:field="*{password}" class="form-control" required minlength="8"
                           maxlength="45"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email:</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" required minlength="8" maxlength="45"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Account_non_locked:</label>
                <div class="col-sm-8">
                    <input type="hidden" th:field="*{role}" class="form-control" required minlength="8" maxlength="45"
                           value="ROLE_USER"/>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/api/v1/users/index}]]";
    }
</script>
</body>
</html>
